header img{
    width: 180px;
}

@media (min-width: 576px) {
    
}

@media (max-width: 768px){
    .header .profile-image{
        float: none !important;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}